---
Checks: >
  -*,
  bugprone-use-after-move,
  bugprone-not-null-terminated-result,
  bugprone-easily-swappable-parameters,
  cert-*-cpp,
  clang-analyzer-core*,
  clang-analyzer-cplusplus*,
  cppcoreguidelines-*
WarningsAsErrors: >
  bugprone-use-after-move,
  bugprone-not-null-terminated-result,
  cert-*,
  cppcoreguidelines-pro-*,
  cppcoreguidelines-owning-memory,
  clang-analyzer-*
UseColor: true

