---
Checks: 'bugprone-stringview-nullptr,bugprone-use-after-move,bugprone-not-null-terminated-result,bugprone-easily-swappable-parameters,cert-*-cpp,cppcoreguidelines-*'
WarningsAsErrors: 'cert-*,cppcoreguidelines-pro-*,cppcoreguidelines-owning-memory'
UseColor: true

