BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Stroustrup
AllowAllArgumentsOnNextLine: true
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -1
IndentAccessModifiers: false
RequiresClausePosition: OwnLine
QualifierAlignment: Right
AlignAfterOpenBracket: AlwaysBreak
InsertBraces: true
Cpp11BracedListStyle: false
